<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-button style="color: white" aria-label="Add button" (click)="addNewRow()">
        <mat-icon>add</mat-icon> Add
      </button>
      <button mat-button style="color: white" aria-label="Delete button" (click)="deleteRow()">
        <mat-icon>delete</mat-icon> Delete
      </button>
      <button mat-button style="color: white" aria-label="Update button" (click)="saveChanges()">
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
  </div>
</section>
