<mat-table aria-label="Elements" class="full-width-table data-table" matSort>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <!-- English Column -->
  <ng-container matColumnDef="english">
    <mat-header-cell *matHeaderCellDef mat-sort-header>English</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field appearance="standard" floatLabel="never">
        <input  matInput ngModel="{{row.english}}" placeholder="Write text">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Norwegian Column -->
  <ng-container matColumnDef="norwegian">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Norsk</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field appearance="standard" floatLabel="never">
        <input  matInput ngModel="{{row.norwegian}}" placeholder="Skriv inn tekst">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Swedish Column -->
  <ng-container matColumnDef="swedish">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Svenska</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field appearance="standard" floatLabel="never">
        <input  matInput ngModel="{{row.swedish}}" placeholder="Skriv text">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
